@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-family:'Poppins',sans-serif;
}

.app{
    margin: 0;
    width: 380px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.445);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(7, 0, 141) 0%, rgba(139,41,149,0.7819502801120448) 38%, rgba(0,212,255,1) 100%);
}
.app h1{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.input-wrapper{
    display: flex;
}
.input-wrapper input{
    width: 100%;
    padding: 5px 10px;
    height: 20px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-wrapper input:focus{
    outline: none;
}
.input-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 80px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(12, 7, 116) 0%, rgba(149,41,147,0.4009978991596639) 2%, rgba(23, 127, 148, 0.855) 90%);
    margin-top: 10px;
    border-radius: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-c{
    flex-direction: column;
}
.location{margin-top: 20px;}
.location h2{
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
}
.location h2 span{
    font-size: 14px;
}
.datetext{
    font-size: 14px;
}
.weatherdesc h3{
    margin: 0;
    text-transform: capitalize;
    font-weight: 400;
}
.tempstats{
    width: 100%
}
.tempstats h1{
    font-size: 40px;
    font-weight: 200;
    margin: 0;
}
.tempstats h1 span{
    font-size: 28px;
}
.tempstats h3{
    font-weight: 400;
}
.windstats{
    padding: 0px 20px;
    background:rgba(0,0,0,0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.windstats h3{
    margin-left: 10px;
    font-weight: 400;
}